
body{
    /* background-color: white; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 0.5% 5%;
}
header h1{
    color: #7DB978;
    font-weight: bolder;
}
header i{
    color: white;
    padding-right: 0.%;
}
header i:hover{
    color: #7DB978;
}
header nav ul{
    display : flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}
header nav ul li{
    color: white;
}
header nav ul li:hover{
    color: #7DB978;
}