h2{
    color: red;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    border: 5 solid black;

}
.main-image{
    width: 100%;
    height: 90vh;
}

