*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
h2{
    color: red;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    border: 5 solid black;

}
