body{
    background: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 0.5% 5%;
    width: 100%;
    height: 10vh;
    background-color: black;
}
header h1{
    color:#7DB978;
}
header i{
    color: white;
    padding-right: 0.%;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}
header ul li:hover{
    color: #7DB978;
}